
.controls-container{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#vol-display{
    text-align: center;
    height: 50px;
    width: 200px;
    padding-top: 15px;
    background-color: gray;
}

.volume-slider{
    background: darkgray;
}

#display{
    background: lightgray;
    border: 2px solid orangered;
}