.App {
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #0a0913;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#drum-machine{
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: 10vh 0 10vh 0;
}

footer{
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 2rem;
}

a{
  color: wheat;
  text-decoration: none;
}